
/**
 * {{ name }} logo.
 */

.logo[data-logo="{{ name }}"] {
  width: 0;
}

.logo[data-logo="{{ name }}"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="{{ name }}"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="{{ name }}"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
