
/**
 * Facebook Ads
 */

.logo[data-logo="Facebook Ads"] {
  width: 5.544328758398224em;
  /* (348.36/48.52) * (1-.1-.125) - 0 */
}

.logo[data-logo="Facebook Ads"] > * {
  background-image: url(images/logo.svg);
  margin: .1em 0 .125em 0;
}

.logo[data-logo="Facebook Ads"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Facebook Ads"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}