
/**
 * GitHub
 */

.logo[data-logo="GitHub"] {
  width: 2.816222222em;
  /* (6.67/1.8) * (1-.12-.12) - 0 */
}

.logo[data-logo="GitHub"] > * {
  background-image: url(images/logo.svg);
  margin: .12em 0 .12em 0;
}

.logo[data-logo="GitHub"].monochromatic > * {
  background-image: url(images/logo-monochromatic.svg);
}
