
/**
 * Heroku
 */

.logo[data-logo="Heroku"] {
  width: 3.576847584em;
  /* (89.09/26.9) * (1+.05+.03) - 0 */
}

.logo[data-logo="Heroku"] > * {
  background-image: url(images/logo.svg);
  margin: -.05em 0 -.03em 0;
}

.logo[data-logo="Heroku"].monochromatic > * {
  background-image: url(images/logo-monochromatic.svg);
}
